/* Colors
Orange: #CB7B27
Dark Grey: #4A4A4A
White: #FFFFFF
Attention Yellow: #EEEB7A
Warning Red: #FF8A8A
Good Green: #B3EC98 */

.footWrap a{
  color: #CB7B27 !important;
}

.socialmedia a{
  color: #fff !important;
} 

.header{
  font-family: 'Roboto Slab', serif !important;
  font-size: 30px;
  color: #CB7B27 !important;
  text-align: left;
}

.body{
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  color: #4A4A4A;
  text-align: left;
}
.footWrap{
  margin-top: 40px;
  bottom: 0;
  background-color: #4A4A4A;
  color: #FFF;
  font-family: 'Roboto', sans-serif !important;
}

.toplogo{
  height: 50px;
  padding: 10px;
  margin-right: 50px;
}
