/* Colors
Orange: #CB7B27
Dark Grey: #4A4A4A
White: #FFFFFF
Attention Yellow: #EEEB7A
Warning Red: #FF8A8A
Good Green: #B3EC98 */

.footWrap a{
  color: #CB7B27 !important;
}

.socialmedia a{
  color: #fff !important;
}

.header{
  font-family: 'Roboto Slab', serif !important;
  font-size: 30px;
  color: #CB7B27 !important;
  text-align: left;

}

.body{
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  color: #4A4A4A;
  text-align: left;
}
.footWrap{
  margin-top: 40px;
  bottom: 0;
  background-color: #4A4A4A;
  color: #FFF;
  font-family: 'Roboto', sans-serif !important;
}

.toplogo{
  height: 50px;
  padding: 10px;
  margin-right: 50px;
}

<<<<<<< HEAD
.herologo{
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;


}
.heroimg {
  background-image: url("https://images.unsplash.com/photo-1485768071412-bded21c2be08?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=12b836d13b960ad94aaf2f924096e912&auto=format&fit=crop&w=1350&q=80");
  height: 500px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;


}
.filtered {
   background: #CB7B27;
   position: relative;
}
.filtered img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;

.menucard{
  text-overflow: ellipsis;
  margin: 1% !important;
}

.addbtn{
  align-content: flex-end !important;
}

.Hquote{
  text-align: center !important;
  color: #4a4a4a;
}
